<div class="page">

    <h2 class="section">Rebuild</h2>

    <span>
        Chisels and Bits underwent as massive rebuild in the beginning of 2021.
        The first releases of this rebuild where published on the 9. of August of that same year.

        As such some features might be different from older builds, missing entirely, or just have been removed completely.
        We tried our best to stay backwards compatible as good as we were able to, but we make not promise that the conversion runs smoothly.
    </span>
</div>